@model HomePageModel
@{
    ViewData["Title"] = "Index";
}


<section id="hero" class="hero section" style="position: relative; height: 70vh; overflow: hidden;">
    <!-- Resmi ekliyoruz -->
    <img src="@Url.Content("~/ui/img/backfont.jpg")" alt="Hero Image"
        style="position: absolute; top: 50%; left: 48%; transform: translate(-50%, -50%); width: 100%; max-width: 1800px; height: 650px; object-fit: cover; filter: blur(3px); opacity: 0.2; z-index: 0;" />

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center" data-aos="fade-up" data-aos-delay="100">
                <h1>
                    @Model.AppSetting.HeroTitle
                </h1>

                <h4>
                    @Model.AppSetting.HeroSubTitle
                </h4>
            </div>
        </div>
    </div>

    <!-- Opaklık için eklenen overlay -->
    <div
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); z-index: 1;">
    </div>

</section>
<!-- /Hero Section -->

<!-- Gallery Section -->
<section id="gallery" class="gallery section">
    <!-- IMDB Yüksek Filmler Başlığı -->
    <div style="display: flex; justify-content: center; margin-bottom: 10px;">
        <h4>IMDB YÜKSEK FİLMLER</h4>
    </div>
    <!-- Çizgi -->
    <div style="border-top: 2px solid white; width: 50%; margin: 0 auto;"></div>

    <!-- İlk 4 Film Kartları -->
    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4 justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gallery-item h-100">
                    <img src="~/ui/img/Filmler/Aksiyon-MadMax-1.png" class="img-fluid" alt=""
                        style="width: 100%; height: 100%; object-fit: cover;">
                    <div class="gallery-links d-flex align-items-center justify-content-center">
                        <a href="~/ui/img/Filmler/Aksiyon-MadMax-1.png" title="Mad Max"
                            class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                        <a href="/Detay/Index/1" class="details-link">
                            <i class="bi bi-link-45deg"></i>
                        </a>
                    </div>
                </div>
            </div><!-- End Gallery Item -->

            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gallery-item h-100">
                    <img src="~/ui/img/Filmler/Aksiyon-jhonwick-2.jpg" class="img-fluid" alt=""
                        style="width: 100%; height: 100%; object-fit: cover;">
                    <div class="gallery-links d-flex align-items-center justify-content-center">
                        <a href="~/ui/img/Filmler/Aksiyon-jhonwick-2.jpg" title="Jhon Wick 2"
                            class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                        <a href="/Detay/Index/2" class="details-link">
                            <i class="bi bi-link-45deg"></i>
                        </a>
                    </div>
                </div>
            </div><!-- End Gallery Item -->

            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gallery-item h-100">
                    <img src="~/ui/img/Filmler/Aksiyon-matrix-5.jpg" class="img-fluid" alt=""
                        style="width: 100%; height: 100%; object-fit: cover;">
                    <div class="gallery-links d-flex align-items-center justify-content-center">
                        <a href="~/ui/img/Filmler/Aksiyon-matrix-5.jpg" title="Matrix" class="glightbox preview-link"><i
                                class="bi bi-arrows-angle-expand"></i></a>
                        <a href="/Detay/Index/23" class="details-link">
                            <i class="bi bi-link-45deg"></i>
                        </a>
                    </div>
                </div>
            </div><!-- End Gallery Item -->

            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gallery-item h-100">
                    <img src="~/ui/img/Filmler/BilimKurgu-Yildizlararasi-2.jpg" class="img-fluid" alt=""
                        style="width: 100%; height: 100%; object-fit: cover;">
                    <div class="gallery-links d-flex align-items-center justify-content-center">
                        <a href="~/ui/img/Filmler/BilimKurgu-Yildizlararasi-2.jpg" title="Yıldızlar Arası"
                            class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                        <a href="/Detay/Index/22" class="details-link">
                            <i class="bi bi-link-45deg"></i>
                        </a>
                    </div>
                </div>
            </div><!-- End Gallery Item -->
        </div>
    </div>

    <!-- 2024 Yılının En Çok İzlenen Filmleri Başlığı -->
    <div style="display: flex; justify-content: center; margin-bottom: 10px; margin-top: 20px;">
        <h4>2024 YILININ EN ÇOK İZLENEN FİLMLERİ</h4>
    </div>
    <!-- Çizgi -->
    <div style="border-top: 2px solid white; width: 50%; margin: 0 auto;"></div>

    <!-- Sonraki 4 Film Kartları -->
    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4 justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gallery-item h-100">
                    <img src="~/ui/img/Filmler/Komedi-uveykardesler-4.jpg" class="img-fluid" alt=""
                        style="width: 100%; height: 100%; object-fit: cover;">
                    <div class="gallery-links d-flex align-items-center justify-content-center">
                        <a href="~/ui/img/Filmler/Komedi-uveykardesler-4.jpg" title="Üvey Kardeşler"
                            class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                        <a href="/Detay/Index/9" class="details-link">
                            <i class="bi bi-link-45deg"></i>
                        </a>
                    </div>
                </div>
            </div><!-- End Gallery Item -->

            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gallery-item h-100">
                    <img src="~/ui/img/Filmler/Korku-CadilarBayrami-4.jpg" class="img-fluid" alt=""
                        style="width: 100%; height: 100%; object-fit: cover;">
                    <div class="gallery-links d-flex align-items-center justify-content-center">
                        <a href="~/ui/img/Filmler/Korku-CadilarBayrami-4.jpg" title="Cadılar Bayramı"
                            class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                        <a href="/Detay/Index/19" class="details-link">
                            <i class="bi bi-link-45deg"></i>
                        </a>
                    </div>
                </div>
            </div><!-- End Gallery Item -->

            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gallery-item h-100">
                    <img src="~/ui/img/Filmler/Dram-baba-4.jpg" class="img-fluid" alt=""
                        style="width: 100%; height: 100%; object-fit: cover;">
                    <div class="gallery-links d-flex align-items-center justify-content-center">
                        <a href="~/ui/img/Filmler/Dram-baba-4.jpg" title="Baba" class="glightbox preview-link"><i
                                class="bi bi-arrows-angle-expand"></i></a>
                        <a href="/Detay/Index/14" class="details-link">
                            <i class="bi bi-link-45deg"></i>
                        </a>
                    </div>
                </div>
            </div><!-- End Gallery Item -->

            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gallery-item h-100">
                    <img src="~/ui/img/Filmler/Korku-O-5.jpg" class="img-fluid" alt=""
                        style="width: 100%; height: 100%; object-fit: cover;">
                    <div class="gallery-links d-flex align-items-center justify-content-center">
                        <a href="~/ui/img/Filmler/Korku-O-5.jpg" title="O" class="glightbox preview-link"><i
                                class="bi bi-arrows-angle-expand"></i></a>
                        <a href="/Detay/Index/20" class="details-link">
                            <i class="bi bi-link-45deg"></i>
                        </a>
                    </div>
                </div>
            </div><!-- End Gallery Item -->
        </div>
    </div>
</section>
<!-- /Gallery Section -->