@model Movie
@{
    ViewData["Title"] = "Index";
}
<div class="page-title" data-aos="fade">
    <div class="heading">
        <div class="container">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-lg-8">
                    <div class="movie-video">
                        <iframe width="100%" height="500" src="@Model.MovieURL" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Gri Kalın Çizgi -->
<div class="divider"></div>

<section id="gallery-details" class="gallery-details section">
    <div class="container" data-aos="fade-up">
        <div class="row justify-content-between gy-4 mt-4">
            <div class="col-lg-8" data-aos="fade-up">
                <div class="portfolio-description">
                    <h2>@Model.MovieName</h2>
                    <p class="mb-0">@Model.AboutMovie</p>
                </div>
            </div>
            <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
                <div class="portfolio-info">
                    <ul>
                        <img src="@Model.MovieImgURL" alt="" class="movie-image">
                        <li><strong>Category</strong> Web design</li>
                        <li><strong>Client</strong> ASU Company</li>
                        <li><strong>Project date</strong> 01 March, 2020</li>
                        <li><strong>Project URL</strong> <a href="#">www.example.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .movie-image {
        width: 356px;
        height: 512px;
        object-fit: cover;
        border-radius: 8px;
    }

    .portfolio-info ul {
        list-style-type: none;
        padding: 0;
    }

    .portfolio-info ul li {
        margin-bottom: 10px;
    }

    /* Gri Kalın Çizgi Stili */
    .divider {
        width: 100%;
        height: 4px;
        background-color: #ccc;
        /* Gri renk */
        margin: 20px 0;
        /* Yukarı ve aşağı boşluk */
    }
</style>
